$breakpoints: (
    "xs": 549px,
    "md":550px,
    "lg":667px
);
@mixin xs{
@media (max-width:map-get($breakpoints, "xs")){
    @content;
 }
}

@mixin md{
    @media(min-width:map-get($breakpoints, "md")){
        @content;
 }
}
