.footer{
     margin-top: 250px;
     background-color: #212222; 
     min-height:15vh; 


     #{&}-container{
      @include flex(space-around);
      align-items: center;
        color: rgb(192, 201, 200);
         background-color: #212222; 
         padding-bottom: 30px;

        
     }

     p{
       font-size: 1em;
     }

  
     #{&}-details{
         display: flex;
          flex-direction: column;
          align-items: flex-start;

     }

     .phone{
        align-items: flex-start;
        flex-direction: column
     }

   
     .check-terms{
        @include flex(center);
       gap:50px;
       align-items: center
     }
     .terms-conditions{
       @include flex(center);
       column-gap: 3px;
     }

     #{&}-submit{
     display: flex;
     padding-top: 0px;
     padding-right: 20px;
     }
     input{
      background: none;
      border: transparent;
      border-bottom: 3px solid #a09d9d;
      width:436px;
      height: 30px;
      outline: none;
      color: #a09d9d;
      font-weight: bold;
      &:focus{
       color: #d2d2d3; 
      }
    
     }
     .footer-submit{
       display: flex;
       align-items: center;
        /*column-gap: 10px;
       margin-right: 50px; */
     }
     img{
       width: 30px;
       height: 30px;
       transform: scaleX(-1);
     }
     a{
       color: rgb(0, 95, 219);
     }
}

 @include xs{
  .footer-container{
   align-items: flex-start !important;
   flex-direction: column-reverse;
   padding: 5px;
   padding-left: 20px;

    .phone{
      align-items: flex-start;
    }
    .check-terms{
     gap:40px;
    }
    .footer-details{

     align-items: flex-start;
    }
    input{
      width: 305px;
    }
    .check-terms{
    flex-direction: column;
    align-items: center;
    
  }
  }
}
@include md{
    .phone{
      margin-right: 90px;
     padding-bottom: 160px;
     padding-left: 25px;
    }
    .footer-submit{
      padding-top: 90px;
    }
    input{
      width: 180px !important;
    }
}
