.footer{
     margin-top: 250px;
     background-color: #212222; 
     min-height: 49vh; 

     #{&}-container{
      @include flex(space-between);
        color: rgb(192, 201, 200);
         background-color: #212222; 
         min-height: 49vh;
         min-width: 100%;
         padding: 20px;
     }

     p{
       font-size: 1em;
     }

  
     #{&}-details{
         display: flex;
          flex-direction: column;
          align-items: flex-start;

     }

     .phone{
        align-items: flex-start;
        flex-direction: column;
     }

    .tick-box{
      display: grid;
    }
    .icon{
      grid-column: 1;
      grid-row: 1;
    }
     .check-terms{
        @include flex(center);
        gap: 250px;
     }
     .terms-conditions{
       @include flex(center);
       gap: 20px;
     }

     #{&}-submit{
     display: flex;
     }
     .footer-submit{
       display: flex;
       align-items: center;
       gap: 10px;
       margin-right: 50px;
     }
     img{
       width: 40px;
       height: 20px;
     }
}

 @include xs{
  .footer-container{
   align-items: flex-start !important;
   flex-direction: column;
   padding: 5px;

    .phone{
      align-items: flex-start;
    }
    .check-terms{
     gap:40px;
    }
    .footer-details{

     align-items: flex-start;
    }
    .check-terms{
    flex-direction: column;
    align-items: center;
    
  }
  }
}