.footer{
   @include flex(space-between);
    color: rgb(192, 201, 200);
     margin-top: 800px;
     padding: 35px;
     background-color: #212222; 
     height: 40vh;


     #{&}-details{
          flex-direction: column; 
          align-items: center;
          width: 800px;

     }

     .phone{
        align-items: center;
        flex-direction: column;
       margin-top: -115px;
     }

     i.form__group {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      width: 50%;
    }
    
    .form__field {
      font-family: inherit;
      width: 100%;
      border: 0;
      margin-top: 20px;
      border-bottom: 2px solid #9b9b9b;;
      outline: 0;
      font-size: 1.3rem;
      color:aliceblue;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
    
      &::placeholder {
        color: transparent;
      }
    
      &:placeholder-shown ~ .form__label {
         font-size: 1.3rem;
         cursor: text;
       }
    }
    
    .form__label {
      position: absolute;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color:  #9b9b9b;
      margin-top: -60px;
    }
    
    .form__field:focus {
      .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #11998e;
        font-weight:700;    
      }
      padding-bottom: 6px;  
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, #e989cc,#a531a5);
      border-image-slice: 1;
    }
    .form__field{
      &:required,&:invalid { box-shadow:none; }
    }

    .tick-box{
      display: grid;
    }
    .icon{
      grid-column: 1;
      grid-row: 1;
    }
     .check-terms{
        @include flex(space-between);
     }
     .terms-conditions{
       @include flex(center);
       flex-wrap: wrap;
       align-items: center;
       gap:12px;
     }

     #{&}-submit{
     @extend  .terms-conditions
     }
}