.footer{
     margin-top: 250px;
     background-color: #212222; 
     min-height:15vh; 

     #{&}-container{
      @include flex(space-around);
      align-items: center;
        color: rgb(192, 201, 200);
         background-color: #212222; 
     }

     p{
       font-size: 1em;
     }

  
     #{&}-details{
         display: flex;
          flex-direction: column;
          align-items: flex-start;

     }

     .phone{
        align-items: flex-start;
        flex-direction: column
     }

    .tick-box{
      display: grid;
    }
    .icon{
      grid-column: 1;
      grid-row: 1;
    }
     .check-terms{
        @include flex(center);
        gap: 250px;
     }
     .terms-conditions{
       @include flex(center);
       column-gap: 20px;
     }

     #{&}-submit{
     display: flex;
     }
     .footer-submit{
       display: flex;
       align-items: center;
      column-gap: 10px;
       margin-right: 50px;
     }
     img{
       width: 40px;
       height: 20px;
     }
}

 @include xs{
  .footer-container{
   align-items: flex-start !important;
   flex-direction: column;
   padding: 5px;
   padding-left: 20px;

    .phone{
      align-items: flex-start;
    }
    .check-terms{
     gap:40px;
    }
    .footer-details{

     align-items: flex-start;
    }
    .check-terms{
    flex-direction: column;
    align-items: center;
    
  }
  }
}
@include md{
    .phone{
      margin-right: 90px;
     padding-bottom: 160px;
     padding-left: 25px;
    }
    .footer-submit{
      padding-top: 90px;
    }
}