@mixin  flex($direction) {
    display: flex;
    align-items: center;
    justify-content: $direction;
}

header{
    @include flex(space-between);
     width:100%;
     padding: 50px;
     position: sticky;
     top:0; 
    img{
        width:120px;
    }
    .menus{
        display: flex;
        flex-wrap: wrap;
        column-gap:40px;
        p{
            &:hover{
                background-color: rgb(55, 157, 197);
            }
        }
        
    }
}
.nav-colored {background-color:"red"}
.nav-transparent {background-color:"white"}