@mixin  flex($direction) {
    display: flex;
    align-items: center;
    justify-content: $direction;
}

nav{
    @include flex(space-between);
    width: 100%; 
    /*  padding: (0 40px 0 40px); */
     transition: 0.35s ease-in;
     height: 70px;
    img{
        width:120px;
    }
    .menus{
        display: flex;
        cursor:pointer;
      /*   margin-right: 76px; */

        column-gap:30px;
        li{
            list-style: none;
            &:hover{
                background-color: rgb(55, 157, 197);
            }
        }
        
    }
    .burger{
        width:24px;
        position: absolute;
        right: 15px;
        display: none;
        cursor: pointer;
    }
    .cancel{
        @extend .burger;
    }
    
}
/* .nav-colored {
    background-color: rgb(228, 228, 228);
    z-index: 1;
    color:rgb(236, 86, 179);
    font-weight: 900;
}
.nav-transparent {
    background-color:"white";
} */

.nav-contact{
    display: none;
}
 @include xs{
    nav{
        position: relative;
        margin-top: 28px;
        height: 20px;
        width: auto;

    .menus{ 
        position: absolute;
        top: 29px;
        width: 63%;
        display: none;
        height: 85vh;
        background-color: rgb(189, 250, 242);
        z-index: 1;
        transition: transform 3s ease-out;
       box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
       
        
    }
    .burger{
        display: block;
    }

    .cancel{
        display: none;
    }
    .nav-contact {
        display: block;
       
    }
    .active{
        display: flex;
        flex-direction: column;
        @include flex(center);
        align-items: center;
        gap:110px;
        color: rgb(238, 106, 194);
        font-size: 17px;
        font-weight:bolder;
        padding-right: 52px;
        width:100%;
        left:0;
        padding-left: 40px;
        margin-left: -36px;
        transition: transform 5s ease-in;
        
    }
    .none{
        display:none;
    }
}
.contact-bar{
    display: none !important;
}
} 
.contact-bar{
      display: flex;
     flex-direction: row; 
      writing-mode: vertical-lr;
      position: absolute;
      right:0px;
      top: 494px;
      height: 100px;
      cursor: pointer;
      
  }
  .contact-us{
   
    @include flex(space-between);
   
    

  }
  .contact-hyphen {
   
    text-size-adjust: 20px;
    a{
        text-decoration: none;
        color: #FB088C;
    }
   }
  .contact-text{
    font-weight:400;
    width: auto;
    
   }
   .a{
    text-decoration: none;
    color:$grey;

   }

   .none{
    display: none;
  }
