.sectionThree{
    @include flex(center);
    margin-top: 100px;
    margin-bottom: 200px;
    text-indent: 20px;
    text-align: left;

    &:before{
        content: '.';
        color: $pink;
        font-size: 100px;
        margin-bottom: 95px;
    }
}