.sectionTwo{
     @include flex(center);
     flex-direction:column;
     position: relative;

     #{&}-first-header{
        margin-bottom: 2px;
        z-index: -99;
      }
      
     #{&}-second-header{
        margin-top: 2px;
        margin-left: 250px
      }
      #{&}-third-header{
        margin-top: 20px;
        margin-left: 450px;
      }
      
     .contact-us{
        margin-top: -110px;
        @include flex(space-between);
        width: 1280px
      }
     img{
         width:450px;
         position: absolute;
         z-index: -1;
         margin-left: 60px;
         margin-top: -125px;
     }
     h1{
         font-size: 100px;
         font-weight: 900;
         color:$grey; 
     }
     
}