.sectionFour{
  display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1250px;
    margin: 40px;
    h2{

    }
    .product-images{
       z-index: -1;
       position: absolute;
       width:350px;
       left: 120px;
       margin-top:-65px;
    }
    hr{
        border:solid rgb(179, 175, 175); 
        border-width: 1px 0 0; 
        margin: 22px 0 21px; 
        height: 0;
        width: 580px;

      }
    .shirt{
        transform: scaleX(-1);
    }
    button{
        width: 70px;
        height: 30px;
        border-radius: 10px;
    }
    .pink-button{
        background-color: $pink;

    }
    
    .grey-button{
        background-color: $grey;
    }
    .product-colors-button{
        display:inline-block;
    }

    .buttons-and-buy{
        display: inline-flex;
        gap: 330px;
        align-items: center;
        margin-top: 30px;
    }
    .buy{
        display:inline-flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;
    }
}
 @include xs{
    .sectionFour{
        max-width: 400px;
        .buttons-and-buy{
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
        }
        .product-images{
            width: 220px;
            margin-top:33px;
        }
        hr{
            width: 320px;
        }
    }
}

