.sectionTwo{
     @include flex(center);
     flex-direction:column;
     position: relative;
     margin-left: -45px;

     #{&}-first-header{
        margin-bottom: 2px;
        z-index: -20;
        margin-left: -28px;
      }
      
     #{&}-second-header{
        margin-top: 2px;
        margin-left: 225px;
      }
      #{&}-third-header{
        margin-top: 50px;
        margin-left: 75px;
      }
      hr{
        border:solid rgb(194, 193, 193); 
        border-width: 1px 0 0; 
        margin: 22px 0 21px; 
        height: 0;
        width: 100%;
        z-index: -25;

      }
      .bottomhr{
        position: absolute;
        margin-top: 208px;
      }
      
     .contact-us{
        margin-top: -110px;
        @include flex(space-between);
        margin-left: -95px;

      }
     img{
         width:360px;
         position: absolute;
         z-index: -1;
         margin-left: -10px;
         margin-top: -130px;
     }
     h1{
         font-size: 100px;
         font-weight: 900;
         color:$grey; 
     }
     p{
      writing-mode: vertical-lr;
      font-weight:bold;
      position: absolute;
      right:8px;
  
     }
     .none{
       display: none;
     }
     
}

@include xs{
  .sectionTwo{
    margin-left: -20px;
  h1{
     font-size:  70px;
  }
  img{
    width: 250px;
    margin-left:-43px;
    margin-top: -90px;
  }
  #{&}-second-header{
    margin-top: -12px;
    margin-left: 100px;
  }
  #{&}-third-header{
    margin-top: 80px;
    margin-left: 62px;
}
.contact-us{
  flex-direction: column;
}
p{
 display: none;
}
.bottomhr{
  margin-bottom:160px ;
}
}
} 