.sectionTwo{
     @include flex(center);
     flex-direction:column;
     position: relative;

     #{&}-first-header{
        margin-bottom: 2px;
        z-index: -99;
        font-family:  'DM Sans Regular';
      }
      
     #{&}-second-header{
        margin-top: 2px;
      }
      #{&}-third-header{
        margin-top: 2px;
        margin-left: 30%;
      }
      
     .contact-us{
        margin-top: -110px;
        @include flex(space-between);
        width: 100%;
      }
     img{
         width:450px;
         position: absolute;
         z-index: -1;
         margin-top: -78px;
     }
     h1{
         font-size: 100px;
         font-weight: 900;
         /* color:$grey; */
     }
     
}