.sectionFive{
  @extend .sectionFour;
  margin-top: 300px;
  float: right;

  h1{
   
  }
  .product-images{
    @extend .product-images;
  }
  .bottle{
    width: 230px;
    margin-top: -98px;
  }
  .buttons-and-buy{
    display: flex;
}
}