.sectionFour{
  display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1400px;
    margin: 40px;
    h2{

    }
    img{
       z-index: -1;
       position: absolute;
       width:350px;
       left: 120px;
    }
    button{
        width: 70px;
        height: 30px;
        border-radius: 10px;
    }
    .buttons-and-buy{
        display: flex;
    }
}
