.sectionFour{
  display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1250px;
    margin: 40px;
   
    .product-images{
       z-index: -1;
       position: absolute;
       width:350px;
       left: 120px;
       margin-top:-65px;
    }
    hr{
        border:solid rgb(179, 175, 175); 
        border-width: 1px 0 0; 
        margin: 22px 0 21px; 
        height: 0;
        width: 580px;

      }
    .shirt{
        transform: scaleX(-1);
    }
    button{
        border: 0;
        border-radius: 10px;
        padding: 15px 30px;
        width: 50px;
        height: 40px;
        transition: border-radius 3s;
        -webkit-transition: border-radius 3s;
        &:hover {
            border-bottom-right-radius: 50px;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
    }
  }
    .pink-button{
        background-color: $pink;
        border: none;

    }
    
    .grey-button{
        background-color: $grey;
        border: none;
       
    }
    
    .none{
        display: none;
    }
    .product-colors-button{
        display:inline-block;
    }

    .buttons-and-buy{
        display: inline-flex;
        gap: 330px;
        align-items: center;
        margin-top: 30px;
    }
    .buy{
        display:inline-flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;
    }
    .buy-img{
        width:28px;
        height: 28px;
    }
    .none{
        display: none;
    }
}
 @include xs{
    .sectionFour{
        margin-left: 15px;
        .buttons-and-buy{
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
        }
        .product-images{
            width: 220px;
            margin-top:70px;
        }
        hr{
            width: 320px;
        }
    }
}

