.sectionThree{
    @include flex(center);
    align-items: center;
    margin: 100px 2px 200px 9px;
    text-indent: 30px; 
    text-align: left;
    position: relative;
    list-style: none;
   
  ul    
  {
    @include flex(center);
    align-items: center;
    list-style: none
    
  }
  li{
      display: inline-block;
      font-size: 1.2em;
  }

  ul li::before {
    content: "\2022"; 
     padding-right: 0.5em;
     color: $pink;
     font-weight: 900;
     font-size: 50px;
     padding-top: -20px;
     position: absolute;
     top: -4px;
     margin-left: -63px;
  }
} @include xs{
  .sectionThree{
    margin-right: 40px;
  }
}
