@import './breakpoints'; 
@import './variables';
@import './nav';
@import './sectionTwo';
@import './sectionThree';
@import './sectionFour';
@import './sectionFive';
@import './footer';

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans';
}
@include xs{
    .container{
        overflow-x: hidden;
    }
}