@import './header';
@import './sectionTwo';
@import './sectionThree';
@import './sectionFour';
@import './sectionFive';
@import './footer';
@import './variables';
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Sans Regular';
}